<section class="bread-crumb clearfix" [ngStyle]="{'background':'url('+ url +')'}">
  <div class="container">
    <div class="row" *ngIf="data">
      <div class="col-xs-12">
        <ul class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <li class="home">
            <a itemprop="url" href="/">
              <span itemprop="title" class="brc-home">Trang chủ </span>
            </a>
            <span>
              <i class="fa fa-angle-right"></i>
            </span>
          </li>

          <li>
            <a itemprop="url" href="/tin-tuc">
              <span itemprop="title"> Tin tức </span>
            </a>
            <span>
              <i class="fa fa-angle-right"></i>
            </span>
          </li>
          <li>
            <span itemprop="title"> {{data.data.title}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div id="mm-0" class="mm-page mm-slideout">
  <div class="container article-wraper">
    <div class="row" *ngIf="data">
      <section class="right-content col-lg-12 ">
        <article class="article-main" itemscope="" itemtype="http://schema.org/Article">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="title-head">
                <a href="/mot-thuy-thu" itemprop="name">{{data.data.title}}</a>
              </h1>
              <div class="postby">
                <span>Đăng bởi
                  <b>Sáng Tạo Trẻ</b> vào lúc 09/03/2017</span>
              </div>
              <div class="article-details">
                <div class="article-content" itemprop="description">
                  <div class="rte" [innerHtml]="data.data.content"></div>
                </div>
              </div>
            </div>


            <div class="col-lg-12">
              <div class="social-media" data-permalink="https://ap-boutique.bizwebvietnam.net/mot-thuy-thu">
                <label>Chia sẻ: </label>

                <a target="_blank" href="//www.facebook.com/sharer.php?u=https://ap-boutique.bizwebvietnam.net/mot-thuy-thu" class="share-facebook"
                  title="Chia sẻ lên Facebook">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a target="_blank" href="//twitter.com/share?text=Mốt Thủy Thủ&amp;url=https://ap-boutique.bizwebvietnam.net/mot-thuy-thu"
                  class="share-twitter" title="Chia sẻ lên Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://ap-boutique.bizwebvietnam.net/mot-thuy-thu&amp;media=http:1024x1024&amp;description=Mốt Thủy Thủ"
                  class="share-pinterest" title="Chia sẻ lên pinterest">
                  <i class="fa fa-pinterest"></i>
                </a>
                <a target="_blank" href="//plus.google.com/share?url=https://ap-boutique.bizwebvietnam.net/mot-thuy-thu" class="share-google"
                  title="+1">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
