@import "variables";
.rte{
    word-wrap: break-word;
    @include tablet-and-mobile{
        overflow: scroll;
        .table{
            min-width: 768px;
            max-width: 768px;
        }
    }
}